*
!three_n_plus_one/
!three_n_plus_one/*.c
!three_n_plus_one/three_n_plus_one_*
!minesweeper/
!minesweeper/*.c
!minesweeper/minesweeper_*
!the_trip/
!the_trip/*.c
!the_trip/the_trip_*
!lcd_display/
!lcd_display/*.c
!lcd_display/lcd_display_*
!graphical_editor/
!graphical_editor/*.c
!graphical_editor/graphical_editor_*
!interpreter/
!interpreter/*.c
!interpreter/interpreter_*
!check_the_check/
!check_the_check/*.c
!check_the_check/check_the_check_*
