*
!three_n_plus_one/
!three_n_plus_one/*.c
!three_n_plus_one/three_n_plus_one_*
!minesweeper/
!minesweeper/*.c
!minesweeper/minesweeper_*
!the_trip/
!the_trip/*.c
!the_trip/the_trip_*
!lcd_display/
!lcd_display/*.c
!lcd_display/lcd_display_*
